---
import { CountDownPage } from "../components/CountDownPage";
import Layout from "../layouts/Layout.astro";
import Reception from "../components/Reception.astro";
import Description from "../components/Description.astro";
import Presentation from "../components/Presentation.astro";
import Outfit from "../components/Outfit.astro";
---

<Layout title="Nos casamos">
  <main>
    <Presentation
      menName="Sebastian"
      womenName="Samahara"
      subTitle="Eclesiastés 3:11"
      footer="Y todo lo hizo hermoso a su tiempo"
    />
    <CountDownPage
      client:load
      weddingDate="march 16, 2024, 15:00:00 GMT-5:00"
    />
    <Description
      description="CREEMOS EN UN DIOS QUE CUMPLE SUEÑOS, UN DIOS QUE SIEMPRE SUPERA NUESTRAS EXPECTATIVAS, DENTRO DE SUS PLANES ESTABA JUNTARNOS Y PREMIARNOS CON UN AMOR PARA TODA LA VIDA ."
      secondDescription="¡Nos casamos y queremos que seas parte de nuestra felicidad¡"
    />
    <Reception
      time="3:PM"
      locationName="hacienda santa helena / salón antonino"
      location="https://www.google.com/maps/dir//Km+1,5+Via+Cota-Siberia,+V%C3%ADa+Siberia+%235+Km+6,+Cota,+Costado+occidental,+Cundinamarca/@4.7973837,-74.1948362,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8e3f86affe6089fb:0x7e3f12a6958aca49!2m2!1d-74.1124342!2d4.7973886?entry=ttu"
    />
    <Outfit />
  </main>
</Layout>
