---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation.astro";
---

<Layout title="Nos casamos">
  <main>
    <Presentation
      menName="Sebastian"
      womenName="Samahara"
      subTitle="Eclesiastés 3:11"
      footer="Y todo lo hizo hermoso a su tiempo"
    />
  </main>
</Layout>

<style></style>
